/* .asd{
    background-color: red;
    width: 60%;
    display: block;
    margin: auto;
} */
.add-container{
    padding-left: 150px;
    margin-top: 10px;
}

.add-to-product{
    background-color: rgb(248, 240, 240);
    width: 50%;
    height: 930px;
}

.add-h1{
    padding-left: 50px;
}

.form-product-list{
    padding-left: 50px;
}
