.nav_bar_wrapper a{
    padding-left: 30px;
    text-decoration: none;
    color: wheat;
    margin-top: 5px;
}


.menu{
    padding-left: 350px;
    color: wheat;
    text-decoration: none;
    
}
/* 
.menus{
    padding-left: 100px;
    color: red;
    text-decoration: none;
} */